<div class="info-card">
    <div class="header">
        OCBC 360 ACCOUNT (JOINT)
    </div>
    <div class="body">
        <div class="row">
            <div class="col-md-7">
                <h2>INTEREST RATE</h2>
                <h2>INITIAL DEPOSIT</h2>
                <h2>MINIMUM AVERAGE BALANCE FOR FALL-BELOW FEE WAIVER</h2>
                <h2>FALL-BELOW FEE</h2>
                <h2>MONTHLY STATEMENT</h2>
            </div>
            <div class="col-md-5">
                <h3>UP TO 2.38% p.a.</h3>
                <h3>SGD $1,000/-</h3>
                <h3>SGD $3,000/-</h3>
                <h3>SGD $2.00/-</h3>
                <h3>e-Statement only</h3>
            </div>
        </div>

        <div class="promotion">
            <h1>Applicable Promotion</h1>
            <div class="row">
                <div class="col-md-3">
                    <img src="~/image/promo-img.jpg">
                </div>
                <div class="col-md-9">
                    <h1>New OCBC Debit Card holders can earn a cash rebate of up to S$50!</h1>
                    <h2>Spend at least S$500 by the last day of the following month from when your application is approved to earn a S$40 rebate. New to OCBC Pay Anyone™? You can earn an additional S$10 rebate when you make a transaction.</h2>
                    <h2>This promotion is for online applications received between 1 October and 31 December 2021 and is applicable to new OCBC Debit Card holders only. The additional S$10 cash rebate is for new OCBC Pay Anyone™ users.</h2>
                </div>
            </div>
        </div>
    </div>
</div>