<div style="margin: 50px 25% 0 25%; text-align: center;">
    <img src="~/image/mobile-icon.png" style="height: 110px">
    <div style="margin-top: 40px">
        <h1 style="font-size: 32px;font-weight: bold;">CONTINUING ON MOBILE</h1>
    </div>
    <div style="margin-top: 80px">
        <h1 style="font-size: 22px;font-weight: lighter; margin-top: 30px;">Your application is being continued on the mobile iBanking App.</h1>
    </div>
    <form>
        <div style="margin-top: 60px;">
            <input class="resend" type="submit" value="Close" asp-controller="Home" asp-action="Index">
        </div>
    </form>
</div>