<div class="container-fluid ">
    <div style="margin: 50px 20% 0 20%; text-align: center;">
        <div class="row">
            <div class="col-md-4">
                </div>
            <div class="col-md-8">
                <div style="margin: 150px 0 0 100px;">
                    <div style="margin: 100px 0 20px; text-align: left;">
                        <h1 style="font-size: 32px; font-weight: bold;">CONTINUING ON MOBILE</h1>
                    </div>
                    <div style="text-align: left;">
                        <h1 style="font-size: 22px; font-weight: lighter;">Your application is being continued on the mobile iBanking App.</h1>
                    </div>
                    <form>
                        <div style="margin-top: 60px; text-align: left;">
                            <input class="resend" type="submit" value="Close" asp-controller="Home" asp-action="Index">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>