@model OCBC_Joint_Account_Application.Models.CustApplication

@{
    ViewData["Title"] = "Upload";
}


@*<div class="completion-bar">
    <progress value="1" max="4"></progress>
    <h1 class="text-1"><b>Upload Documents</b></h1>
    <h1 class="text-2"><b>Main Applicant Information</b></h1>
    <h1 class="text-3">Joint-Applicant Information</h1>
    <h1 class="text-4">Verify Information</h1>
    <h2 class="circle circle-1"></h2>
    <h2 class="circle circle-2"></h2>
    <h2 class="circle circle-3"></h2>
    <h2 class="circle circle-4"></h2>
</div>*@




<!--If user chooses Singaporean (Default option from the radio btn) radio btn, hide the Foreigner details-->
<form asp-action="" enctype="multipart/form-data">
    <div class="container d-flex">
        <div class="container col-md-8" style="max-width:65%; margin-left:0;">
            <div class="container">
                <div class="row">
                    <div class="card text-center col-md-6 shadow-sm">
                        <div class="card-body d-flex flex-column">
                            <img class="card-img-top" src="~/image/no-image.png" alt="Card image cap">
                            <h5 class="card-title">Photo Identity (Front)</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <input type="file" asp-for="CustNRICFront" style="margin-bottom:20px;" /><!--Upload btn-->
                        </div>
                    </div>
                    <div class="card text-center col-md-6 shadow-sm">
                        <div class="card-body d-flex flex-column">
                            <img class="card-img-top" src="~/image/no-image.png" alt="Card image cap">
                            <h5 class="card-title">Photo Identity (Back)</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <input type="file" asp-for="CustNRICBack" style="margin-bottom:20px;" /><!--Upload btn-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card text-center col-md-6 shadow-sm">
                        <div class="card-body d-flex flex-column">
                            <img class="card-img-top" src="~/image/no-image.png" alt="Card image cap">
                            <h5 class="card-title">Residential Address</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <input type="file" asp-for="CustProofOfResidence" style="margin-bottom:20px;" /><!--Upload btn-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container col-md-4">
            @{
                @await Html.PartialAsync("_AccountInfoCard.cshtml");
            }
        </div>
    </div>
    <input type="submit" class="btn btn-primary" asp-controller="Account360" asp-action="" value="Submit" />
</form>




<!--If user chooses Foreigner radio btn, hide the Singaporean details and show Foreigner details-->
<!--<div class="container" style="display:flex;">
    <div class="row">
        <div class="card text-center col-md-6">
            <div class="card-body d-flex flex-column">
                <img class="card-img-top" src="~/image/no-image.png" alt="Card image cap">
                <h5 class="card-title">Passport</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Upload</a>-->
 <!--Upload btn-->
<!--</div>
</div>
<div class="card text-center col-md-6">
    <div class="card-body d-flex flex-column">
        <img class="card-img-top" src="~/image/no-image.png" alt="Card image cap">
        <h5 class="card-title">Residential Address</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Upload</a>-->
<!--Upload btn-->
<!--</div>
        </div>
    </div>
</div>

<div class="container" style="display:flex;">
    <div class="row">
        <div class="card text-center col-md-6">
            <div class="card-body d-flex flex-column">
                <img class="card-img-top" src="~/image/no-image.png" alt="Card image cap">
                <h5 class="card-title">Foreign Pass (Front)</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Upload</a>-->
 <!--Upload btn-->
<!--</div>
</div>
<div class="card text-center col-md-6">
    <div class="card-body d-flex flex-column">
        <img class="card-img-top" src="~/image/no-image.png" alt="Card image cap">
        <h5 class="card-title">Foreign Pass (Back)</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Upload</a>-->
<!--Upload btn-->
<!--</div>
        </div>
    </div>
</div>-->
<!-- Radio button -->
<div class="form-group form-check-inline">
    @foreach (var item in ViewData["SingaporeanSelection"] as List<string>)
    {
        <label class="col-form-label">
            <input asp-for="Singaporean" type="radio" value="@item" class="form-check-input" />
            <span style="font-weight:normal; padding-right:20px">@item</span>
        </label>
    }
</div>
