@model OCBC_Joint_Account_Application.Models.Account360ViewModel

@{
    ViewData["Title"] = "Verify";
}


@if (Context.Session.GetString("JAC") != null)
{
    <div class="container-fluid">
        <div class="vl-360 joint-account-notification">
            <h4>Continuation of Joint-Account <br /> application with </h4>
            <h3>@ViewData["MainSalutation"] @ViewData["MainName"]</h3>
        </div>
    </div>
}

<div class="container-fluid applicant">
    <div class="completion-bar">
        @if (Context.Session.GetString("ApplyMethod") == "Scan" && Context.Session.GetString("JAC") != null)
        {
            <div class="completion-bar-3">
                <progress value="3" max="3"></progress>
                <h1 class="text-1"><b>Identity Verification</b></h1>
                <h1 class="text-2"><b>Joint-Applicant Information</b></h1>
                <h1 class="text-3"><b>Verify Information</b></h1>
                <h2 class="circle circle-1"></h2>
                <h2 class="circle circle-2"></h2>
                <h2 class="circle circle-3"></h2>
            </div>
        }
        else if (Context.Session.GetString("ApplyMethod") == "Singpass" && Context.Session.GetString("JAC") != null)
        {
            <div class="completion-bar-3">
                <progress value="3" max="3"></progress>
                <h1 class="text-1"><b>Identity Verification</b></h1>
                <h1 class="text-2"><b>Joint-Applicant Information</b></h1>
                <h1 class="text-3"><b>Verify Information</b></h1>
                <h2 class="circle circle-1"></h2>
                <h2 class="circle circle-2"></h2>
                <h2 class="circle circle-3"></h2>
            </div>
        }
        else if (Context.Session.GetString("ApplyMethod") == "QR" && Context.Session.GetString("JAC") != null)
        {
            <div class="completion-bar-1">
                <progress value="1" max="1"></progress>
                <h1 class="text-1"><b>Verify Information</b></h1>
                <h2 class="circle circle-1"></h2>
            </div>
        }
        else if (Context.Session.GetString("ApplyMethod") == "Singpass")
        {
            <progress value="4" max="4"></progress>
            <h1 class="text-1"><b>Identity Verification</b></h1>
            <h1 class="text-2"><b>Main Applicant Information</b></h1>
            <h1 class="text-3"><b>Joint-Applicant Information</b></h1>
            <h1 class="text-4"><b>Verify Information</b></h1>
            <h2 class="circle circle-1"></h2>
            <h2 class="circle circle-2"></h2>
            <h2 class="circle circle-3"></h2>
            <h2 class="circle circle-4"></h2>
        }
        else if (Context.Session.GetString("ApplyMethod") == "QR")
        {
            <div class="completion-bar-2">
                <progress value="2" max="2"></progress>
                <h1 class="text-1"><b>Joint-Applicant Information</b></h1>
                <h1 class="text-2"><b>Verify Information</b></h1>
                <h2 class="circle circle-1"></h2>
                <h2 class="circle circle-2"></h2>
            </div>
        }
        else if (Context.Session.GetString("ApplyMethod") == "Scan")
        {
            <progress value="4" max="4"></progress>
            <h1 class="text-1"><b>Upload Documents</b></h1>
            <h1 class="text-2"><b>Main Applicant Information</b></h1>
            <h1 class="text-3"><b>Joint-Applicant Information</b></h1>
            <h1 class="text-4"><b>Verify Information</b></h1>
            <h2 class="circle circle-1"></h2>
            <h2 class="circle circle-2"></h2>
            <h2 class="circle circle-3"></h2>
            <h2 class="circle circle-4"></h2>
        }
    </div>
</div>
@*<h2>Code: @TempData["Code"]</h2>*@

<!-- Display all data -->
<div class="container-fluid applicant">
    <form method="post">
        <div class="row border">
            <div class="col-md-8">

                <h3><b>Main Applicant Personal Information</b></h3>

                <div class="row">
                    <div class="col-md-4">
                        <label class="textbox-title">Salutation</label>
                        <input asp-for="Salutation" class="form-textbox" type="text" readonly />
                        </select>
                    </div>
                    <div class="col-md-6 textbox-right">
                        <label class="textbox-title">Full Name (as in NRIC)</label>
                        <input asp-for="FullName" class="form-textbox" type="text" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="textbox-title">NRIC</label>
                        <input asp-for="NRIC" class="form-textbox" type="text" readonly>
                    </div>
                    <div class="col-md-6 textbox-right">
                        <label class="textbox-title">Date of Birth</label>
                        <input asp-for="DateOfBirth" class="form-textbox" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="textbox-title">Country of Birth</label>
                        <input asp-for="CountryOfBirth" class="form-textbox" type="text" readonly />
                    </div>
                    <div class="col-md-6 textbox-right">
                        <label class="textbox-title">Nationality</label>
                        <input asp-for="Nationality" class="form-textbox" type="text" readonly />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="textbox-title">Gender</label>
                        <input asp-for="Gender" class="form-textbox" type="text" readonly />
                    </div>
                    <div class="col-md-6 textbox-right">
                        <label class="textbox-title">Maritial Status</label>
                        <input asp-for="MaritialStatus" class="form-textbox" type="text" readonly />
                    </div>
                </div>
                <div class="margin">
                    <h3><b>Address (as in NRIC)</b></h3>
                    <label class="textbox-title">Address</label>
                    <input asp-for="Address" class="form-textbox-full" type="text" required><br />
                    <input type="checkbox" id="mailingaddress">
                    <label class="form-checkbox" for="mailingaddress"> Use NRIC address as mailing address </label><br>
                </div>
                <div class="margin">
                    <h3><b>Contact Information</b></h3>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="textbox-title">Email Address</label>
                            <input asp-for="EmailAddress" class="form-textbox" type="text" readonly>
                        </div>
                        <div class="col-md-6 textbox-right">
                            <label class="textbox-title">Contact Number</label>
                            <input asp-for="MobileNum" class="form-textbox" type="text" readonly>
                        </div>
                    </div>
                </div>
                <div class="margin">
                    <h3><b>Employment Information</b></h3>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="textbox-title">Occupation</label>
                            <input asp-for="Occupation" class="form-textbox" type="text" readonly />
                        </div>
                        <div class="col-md-6 textbox-right">
                            <label class="textbox-title">Annual Income</label>
                            <input asp-for="AnnualIncome" class="form-textbox" type="text" readonly />
                        </div>
                    </div>
                    <h6>Are you self-employed?</h6>
                    <input type="radio" id="yes" name="self-employed" value="Yes">
                    <label class="form-radio" for="yes">Yes</label>
                    <input type="radio" id="no" name="self-employed" value="No">
                    <label class="form-radio" for="no">No</label><br>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="textbox-title">Employer</label>
                            <input asp-for="Employer" class="form-textbox" type="text">
                        </div>
                        <div class="col-md-6 textbox-right">
                            <label class="textbox-title">Years in Employment</label>
                            <input asp-for="YearsInEmployment" class="form-textbox" type="text" readonly />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                @{
                    @await Html.PartialAsync("_AccountInfoCard.cshtml"); }
            </div>

            <div class="margin marketing">
                <h3><b>Please indicate your country of Tax Residency</b></h3>
                <h4>We are collecting this information in compliance with the relevant tax regulations. Help us ensure the information is accurate and up to date.</h4>
                <input type="checkbox" id="singapore" name="singapore" value="Singapore">
                <label class="form-checkbox-2" for="singapore"> Singapore</label><br>
                <input type="checkbox" id="united-states" name="united-states" value="United-States">
                <label class="form-checkbox-2" for="united-states"> United States</label><br>
                <input type="checkbox" id="other-country" name="other-country" value="Other-Country">
                <label class="form-checkbox-2" for="other-country"> Other country(s)</label><br>
            </div>
            <div class="margin consent">
                <div class="hl"></div>
                <h3><b>YOUR MARKETING CONSENT</b></h3>
                <h4>I am aware that, by signing up for this product or service, I am consenting to Oversea-Chinese Banking Corporation Limited and its related corporations (OCBC Group) - as well as their agents and authorised service providers - to collect, use and disclose my personal data, and to share this data with their business partners for marketing and promotional purposes. These purposes include the “Additional Purposes” set out in the OCBC Data Protection Policy, available at www.ocbc.com/policies or any OCBC Bank branch.</h4>
                <h4>For avoidance of doubt, I am also aware that the above consent overrides any earlier withdrawal of such consent; should I wish to withdraw my consent later, I shall use the form available at www.ocbc.com/consent-withdrawal-form or any OCBC Bank branch.</h4>
                <label for="consent">
                    <input type="checkbox" id="consent" name="consent" value="Consent" required>
                    <span class="form-checkbox-2"> In addition, by checking the box, I also consent to OCBC Group contacting me via SMS, telephone call and other phone number-based messaging about products and services offered by OCBC Group, its business partners and agents, regardless of my registration(s) with the Do Not Call registry.</span><br>
                </label>
            </div>
            <div class="margin consent">
                <div class="hl"></div>
                <h3><b>ADVISORY FROM SINGAPORE POLICE FORCE</b></h3>
                <h4>
                    <b>WARNING Your bank account should be for your own use and you are responsible for all transactions made through your bank account.</b>
                </h4>
                <h4>You may be facilitating criminal activities such as money laundering and/or unlicensed money lending if you:</h4>
                <h4>
                    knowingly allow other people to operate, access and/or control of your bank account; and/or
                    knowingly receive money from strangers, dubious sources, or other unverified sources.
                    You can be prosecuted for the relevant offences if your bank account is used to receive or transfer money linked to criminal activities. These offences carry a punishment of a fine and/or imprisonment.
                </h4>
                <h4>You should make the necessary application to your bank if you wish to authorise the operation, access and/or control of your bank account to a third party. A failure to do so would subject your bank account to additional risk mitigation measures and, in some cases, your bank may terminate or restrict your use of your bank account and other related accounts you may have with your bank.</h4>
                <label for="consent-2">
                    <input type="checkbox" id="consent-2" name="consent2" value="Consent2" required>
                    <span class="form-checkbox-2">
                        I acknowledge that I have read and agree to all the above
                    </span><br>
                </label>
            </div>
        </div>

        <!--Joint Applicant details -->
        <div class="col-md-8 border">
            <div class="row">
                <div class="row">
                    <div class="margin">
                        <h3><b>Joint Applicant Personal Information</b></h3>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="textbox-title">Salutation</label>
                                <input asp-for="SalutationJoint" class="form-textbox" type="text" readonly />
                            </div>
                            <div class="col-md-6 textbox-right">
                                <label class="textbox-title">Full Name (as in NRIC)</label>
                                <input asp-for="JointApplicantName" class="form-textbox" type="text" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="margin">
                        <h3><b>Contact Information</b></h3>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="textbox-title">Email Address</label>
                                <input asp-for="Email" class="form-textbox" type="text" required>
                            </div>
                            <div class="col-md-6 textbox-right">
                                <label class="textbox-title">Contact Number</label>
                                <input asp-for="ContactNo" class="form-textbox" type="text" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="margin">
                <input class="resend" type="submit" value="Next" asp-controller="Account360" asp-action="Form">
            </div>
        </div>
    </form>
    <h4 style="color:red">@ViewData["Error"]</h4>
</div>
