@model OCBC_Joint_Account_Application.Models.Account360ViewModel

@{
    ViewData["Title"] = "Verify";
}


@if (Context.Session.GetString("JAC") != null)
{
    <div class="container-fluid">
        <div class="vl-360 joint-account-notification">
            <h4>Continuation of Joint-Account <br /> application with </h4>
            <h3>@ViewData["MainSalutation"] @ViewData["MainName"]</h3>
        </div>
    </div>
}

<div class="container-fluid applicant">
    <div class="completion-bar">
        @if (Context.Session.GetString("ApplyMethod") == "Scan" && Context.Session.GetString("JAC") != null)
        {
            <div class="completion-bar-3">
                <progress value="3" max="3"></progress>
                <h1 class="text-1"><b>Identity Verification</b></h1>
                <h1 class="text-2"><b>Joint-Applicant Information</b></h1>
                <h1 class="text-3"><b>Verify Information</b></h1>
                <h2 class="circle circle-1"></h2>
                <h2 class="circle circle-2"></h2>
                <h2 class="circle circle-3"></h2>
            </div>
        }
        else if (Context.Session.GetString("ApplyMethod") == "Singpass" && Context.Session.GetString("JAC") != null)
        {
            <div class="completion-bar-3">
                <progress value="3" max="3"></progress>
                <h1 class="text-1"><b>Identity Verification</b></h1>
                <h1 class="text-2"><b>Joint-Applicant Information</b></h1>
                <h1 class="text-3"><b>Verify Information</b></h1>
                <h2 class="circle circle-1"></h2>
                <h2 class="circle circle-2"></h2>
                <h2 class="circle circle-3"></h2>
            </div>
        }
        else if (Context.Session.GetString("ApplyMethod") == "QR" && Context.Session.GetString("JAC") != null)
        {
            <div class="completion-bar-1">
                <progress value="1" max="1"></progress>
                <h1 class="text-1"><b>Verify Information</b></h1>
                <h2 class="circle circle-1"></h2>
            </div>
        }
        else if (Context.Session.GetString("ApplyMethod") == "Singpass")
        {
            <progress value="4" max="4"></progress>
            <h1 class="text-1"><b>Identity Verification</b></h1>
            <h1 class="text-2"><b>Main Applicant Information</b></h1>
            <h1 class="text-3"><b>Joint-Applicant Information</b></h1>
            <h1 class="text-4"><b>Verify Information</b></h1>
            <h2 class="circle circle-1"></h2>
            <h2 class="circle circle-2"></h2>
            <h2 class="circle circle-3"></h2>
            <h2 class="circle circle-4"></h2>
        }
        else if (Context.Session.GetString("ApplyMethod") == "QR")
        {
            <div class="completion-bar-2">
                <progress value="2" max="2"></progress>
                <h1 class="text-1"><b>Joint-Applicant Information</b></h1>
                <h1 class="text-2"><b>Verify Information</b></h1>
                <h2 class="circle circle-1"></h2>
                <h2 class="circle circle-2"></h2>
            </div>
        }
        else if (Context.Session.GetString("ApplyMethod") == "Scan")
        {
            <progress value="4" max="4"></progress>
            <h1 class="text-1"><b>Upload Documents</b></h1>
            <h1 class="text-2"><b>Main Applicant Information</b></h1>
            <h1 class="text-3"><b>Joint-Applicant Information</b></h1>
            <h1 class="text-4"><b>Verify Information</b></h1>
            <h2 class="circle circle-1"></h2>
            <h2 class="circle circle-2"></h2>
            <h2 class="circle circle-3"></h2>
            <h2 class="circle circle-4"></h2>
        }
    </div>
</div>
@*<h2>Code: @TempData["Code"]</h2>*@

<div class="container-fluid">
    <form method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="verify">
                    <h2>VERIFY</h2>
                    <h3>Thank you for completing the form! Review your entries below before submitting.</h3>
                    <hr>
                    <h2>PERSONAL INFORMATION</h2>
                    <label>Salutation</label>
                    <h1><input asp-for="Salutation" class="form-text" type="text" readonly></h1>
                    <label>Name</label>
                    <h1><input asp-for="FullName" class="form-text" type="text" readonly></h1>
                    <label>NRIC</label>
                    <h1><input asp-for="NRIC" class="form-text" type="text" readonly></h1>
                    <label>Date of Birth</label>
                    <h1><input class="form-text" type="text" value="@ViewData["DateOfBirth"]" readonly></h1>
                    <label>Country of Birth</label>
                    <h1><input asp-for="CountryOfBirth" class="form-text" type="text" readonly></h1>
                    <label>Nationality</label>
                    <h1><input asp-for="Nationality" class="form-text" type="text" readonly></h1>
                    <label>Maritial Status</label>
                    <h1><input asp-for="MaritialStatus" class="form-text" type="text" readonly></h1>
                    <label>Gender</label>
                    <h1><input asp-for="Gender" class="form-text" type="text" readonly></h1>
                    <label>Address</label>
                    <h1><input asp-for="Address" class="form-text" type="text" readonly></h1>
                    <label>Email</label>
                    <h1><input asp-for="EmailAddress" class="form-text" type="text" readonly></h1>
                    <label>Contact Number</label>
                    <h1><input asp-for="MobileNum" class="form-text" type="text" readonly></h1>
                    @if (Model.NRICIsMailingAddresses)
                    {
                        <label>Address on NRIC is also mailing address </label>
                    }
                    <label>Country(s) of tax residency: </label>
                    <h1><input asp-for="TaxResidence" class="form-text" readonly /></h1>
     
                    <h2>EMPLOYMENT INFORMATION</h2>
                    <label>Occupation</label>
                    <h1><input asp-for="Occupation" class="form-text" type="text" readonly></h1>
                    <label>Annual Income</label>
                    <h1><input asp-for="AnnualIncome" class="form-text" type="text" readonly></h1>
                    <label>Employer</label>
                    @if (Model.SelfEmployeed)
                    {
                        <h1 class="form-text">Self-employed</h1>
                    }
                    else
                    {
                        <h1><input asp-for="Employer" class="form-text" type="text" readonly></h1>
                    }
                    <label>Years in Employment</label>
                    <h1><input asp-for="YearsInEmployment" class="form-text" type="text" readonly></h1>
                
                @if (Context.Session.GetString("JAC") == null)
                {
               
                        <h2>JOINT APPLICANT INFORMATION</h2>
                        <label>Salutation</label>
                        <h1><input asp-for="SalutationJoint" class="form-text" type="text" readonly></h1>
                        <label>Name</label>
                        <h1><input asp-for="JointApplicantName" class="form-text" type="text" readonly></h1>
                        <label>NRIC</label>
                        <h1><input asp-for="JointApplicantNRIC" class="form-text" type="text" readonly></h1>
                        <label>Email</label>
                        <h1><input asp-for="Email" class="form-text" type="text" readonly></h1>
                        <label>Contact Number</label>
                        <h1><input asp-for="ContactNo" class="form-text" type="text" readonly></h1>
              
                }
                </div>
            </div>
            <div class="col-md-4">
                @{
                    @await Html.PartialAsync("_AccountInfoCard.cshtml");
                }
            </div>
        </div>

        <div class="margin consent" style="margin-bottom: 60px;">
            <div class="hl"></div>
            <h3><b>BY CLICKING SUBMIT</b></h3>
            <h5>(1) You agree that you have read the terms and conditions.</h5>
            <h5>(2) An email and SMS will be sent to the joint-application to continue the application.</h5>
        </div>
        <input class="resend" type="submit" value="Submit" asp-action="Verify" />
    </form>
</div>
