.bg-login {
    height: 100%;
    background-size: cover;
    background-image: url("../image/login-bg.png");
    min-width: 100%;
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.login-building img {
    position: fixed;
    right: 0;
    min-width: 100%;
    width: auto;
    height: 100%;
}

.inner-wrap {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.login-btn {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    font-size: 10px;
    background-color: red;
    border-color: transparent;
    color: white;
    font-weight: bold;
    margin-top: 40px;
}

.login-form {
    background-color: white;
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
}

    .login-form > * {
    }

.ib-logo {
    display: flex;
    width: 100%;
    height: 39px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.textbox-title {
    font-weight: bold;
    padding-top: 10px;
}

.no-pin {
    margin-top: 40px;
    font-size: 13px;
}

.form-textbox {
    border-color: transparent;
    border-bottom-color: gray;
    border-width: 1px;
    height: 10px;
    /*width: 300px;*/
    font-size: 18px;
    margin: 0 50px 0 10px;
    padding-bottom: 8px;
    font-weight: 400;
}

.ss {
    margin-bottom: 5px;
}

.form-title {
    margin-bottom: 50px;
}

.button-header {
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-header-active {
    border-top: 3px solid #424347;
    background-color: white;
}

.sign-up-now {
    background-color: whitesmoke;
}