
@{
    ViewData["Title"] = "Login";
}

<div class="bg-login">
    <div class="container-fluid">
        <div class="login-building"><img src="~/image/login-building.png" /></div>
        <div class="row">
            <div class="ib-logo"><img src="~/image/logo_ocbc.png" /></div>
        </div>
        <div class="row">
            <form method="post">
                <div class="header-login row">
                    <div class="col">
                        <a id="AC-btn">OCBC Access Code</a>
                    </div>
                    <div class="col">
                        <a id="SL-btn">Singpass Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

