@model OCBC_Joint_Account_Application.Models.Customer
@{
    ViewData["Title"] = "Login";
}

<div class="bg-login">
    <div class="outer-wrap">
        <div class="inner-wrap">
            <div class="login-building"><img src="~/image/login-building.png" /></div>
            <div class="row">
                <div class="ib-logo"><img src="~/image/logo_ocbc.png" /></div>
            </div>
            <div class="row">
                <form method="post">
                    <div class="login-form">
                        <div class="row spacing">
                            <div class="col button-header button-header-active">
                                <a id="AC-btn">OCBC Access Code</a>
                            </div>
                            <div class="col button-header">
                                <a id="SL-btn">Singpass Login</a>
                            </div>
                        </div>
                        <div class="row spacing">
                            <div class="row">
                                <p class="ss">Secure Site</p>
                                <h2 class="form-title">Online Banking</h2>
                            </div>
                            <div class="row spacing">
                                <label class="textbox-title" for="access-code">Access Code</label>
                                <input id="access-code" class="form-textbox" type="text" asp-for="iBUsername" required>
                                <label class="textbox-title" for="pin">PIN</label>
                                <input id="pin" class="form-textbox" type="text" asp-for="iBPin" required>
                            </div>
                            <div class="row spacing">
                                <p style="color:red">@ViewData["iBankingError"]</p>
                            </div>
                            <div class="row spacing">
                                <div class="col-md-7 no-pin">
                                    <a href="https://internet.ocbc.com/internet-banking/inbregistration/index">No Access Code/PIN? Click here.</a>
                                </div>
                                <div class="col-md-5">
                                    <input class="login-btn" type="submit" value="Login" asp-controller="iBanking" asp-action="Login">
                                </div>
                            </div>
                            <div class="row align-items-center sign-up-now">
                                <p>Don't have Online Banking? <a href="https://internet.ocbc.com/internet-banking/inbregistration/index">Sign up now.</a></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

