<nav class="navbar navbar-expand-lg navbar-360">
    <div class="vl-navbar"></div>
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="navbar-logo" src="~/image/logo_ocbc.png"></a>
        <ul class="navbar-nav ms-auto navbar-style">
            <li class="nav-item active">
                <h1>360 Account Application</h1>
                <h2>Need Help?</h2>
                <h2>Call us at 1800 363 3333</h2>
            </li>
        </ul>
    </div>
</nav>