<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="vl-navbar"></div>
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="navbar-logo" src="~/image/logo_ocbc.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto navbar-style">
                <li class="nav-item active">
                    <a class="nav-link" href="#" id="ButtonDisable_Click">Accounts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="ButtonDisable_Click">Cards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="ButtonDisable_Click">Loans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="ButtonDisable_Click">Insurance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="ButtonDisable_Click">Investment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="ButtonDisable_Click">Advisory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="ButtonDisable_Click">More</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="#" id="ButtonDisable_Click"><b>Login</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>