<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <img class="footer-logo" src="~/image/logo_ocbc.png">
            <h1>Personal Banking</h1>
            <h2>You are in Singapore</h2>
            <hr>
            <h2>Premier Banking</h2>
            <h2>FRANK by OCBC</h2>
            <h2>Business Banking</h2>
            <h2>OCBC Group</h2>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <h1>Useful links</h1>
            <h2>Internet Banking</h2>
            <h2>ATM and Branch locator</h2>
            <h2>Help and Support</h2>
        </div>
        <div class="col-md-2">
            <h1>Get in touch with us</h1>
            <h2>Contact Us</h2>
            <h2>+65 6363 3333</h2>
        </div>
        <div class="col-md-1 icon">
            <a href="https://www.facebook.com/OCBC.Singapore/?brand_redir=294095104090945"><img src="~/image/icon_facebook.png"></a>
            <a href="https://twitter.com/ocbcbank"><img src="~/image/icon_twitter.png"></a>
            <a href="https://www.youtube.com/user/channelocbc"><img src="~/image/icon_youtube.png"></a>
            <a href="https://www.linkedin.com/company/ocbc-bank/"><img src="~/image/icon_linkedin.png"></a>
        </div>
    </div>
    <br /><br />
    <div class="row footer-btm">
        <div class="col-md-6">
            <ul>
                <li>Conditions of Access</li>
                <li>Policies</li>
                <li>Notices</li>
                <li>Security</li>
            </ul>
        </div>
        <div class="col-md-6 footer-right">
            <ul>
                <li>© Copyright 2004 – 2021 – OCBC Bank. All Rights Reserved. Co. Reg. No.: 193200032W</li>
            </ul>
        </div>
    </div>
</div>