<!--Navigation Bar-->
<div class="navbar-header">
    <div class="container-fluid">
        <img class="crest" src="~/image/Singpass/icon-sg-crest.svg">
        A Singapore Government Agency Website
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-singpass">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="navbar-logo" src="~/image/Singpass/singpass-logo.svg"></a>
        <ul class="navbar-nav ">
            <li class="nav-item service-text">
                <h1>Services <img src="~/image/Singpass/icon-chevron-down.svg"></h1>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto navbar-style">
            <li class="nav-item">
                <ul>
                    <li><img src="~/image/Singpass/icon-increase-font-size.svg"></li>
                    <li>|</li>
                    <li><img src="~/image/Singpass/icon-reset-font-size.svg"></li>
                    <li>|</li>
                    <li><img src="~/image/Singpass/icon-decrease-font-size.svg"></li>
                    <li><img src="~/image/Singpass/icon-print.svg"></li>
                    <li><img src="~/image/Singpass/icon-search.svg"></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>