
<div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="navbar-logo" src="~/image/Singpass/singpass-logo.svg"></a>
    <h1>Contact us | Share feedback | Read FAQs| Site notifications</h1>
    <h1>Report vulnerability | Privacy statement | Terms of us | Sitemap | Rate this website</h1>
</div>
