@{
    ViewData["Title"] = "360 Account | OCBC Singapore";
}
@ViewData["A"]

<!--Top Header-->
<div class="bg-size">
    <div class="container-fluid">
        <div class="masthead_kv"><img src="../image/masthead_kv-desktop.png"></div>
        <div class="row">
            <div class="col-md-7">
                <div class="subcategory">
                    <h1>360 account</h1>
                    <span>
                        Your go-to account for all your banking needs
                    </span>
                </div>
                <div class="card">
                    <!-- Card Section-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-11">
                                    <b>Why you will love this</b>
                                    <div class="paragraph">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                                </svg>
                                            </div>
                                            <div class="col-md-11">
                                                <p>Earn effective interest rate of up to 2.38% a year and more on your first S$75,000</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                                </svg>
                                            </div>
                                            <div class="col-md-11">
                                                <p>Earn more interest when you credit your salary, save, insure or invest</p>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" class="btn applyonline-btn" data-toggle="modal" data-target="#accTypeModalCenter" value="Apply Online">
                                </div>
                                <div class="col-md-1">
                                    <div class="vl"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <b class="info-heading">Who can apply</b>
                            <div class="paragraph-list">
                                <div class="row">
                                    <div class="col-md-1">
                                        &#x25CF;
                                    </div>
                                    <div class="col-md-11">
                                        <p>Anyone above 18 years old</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                        &#x25CF;
                                    </div>
                                    <div class="col-md-11">
                                        <p>Singaporean, Singapore PR or foreigner with a valid pass</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Apply Information-->
<div class="apply-information">
    <div class="container-fluid">
        <div class="hl"></div>
        <h2>Before you apply</h2>
        <div class="context">
            <div class="row margintop-50">
                <!--Eligibility Requirement Content-->
                <div class="col-md-3">
                    <b>Eligibility requirements</b>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4"><h3>Minimum age</h3></div>
                        <div class="col-md-8"><h4>18 years old</h4></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><h3>Documents required</h3></div>
                        <div class="col-md-8">
                            <h4>NRIC for Singaporeans and Singapore PRs</h4>
                            <h4>Passport and a valid pass (e.g. Employment Pass (EP) or S-Pass or Student Pass) for foreigners</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><h3>Additional document</h3></div>
                        <div class="col-md-8">
                            <h4>Include any one of the following documents that shows your residential address</h4>
                            <ul>
                                <li>Phone bill</li>
                                <li>Half-yearly CPF statement</li>
                                <li>Any bank statement</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row margintop-50">
                <!--Deposit Requirements-->
                <div class="col-md-3">
                    <b>Deposit requirements</b>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4"><h3>Initial deposit</h3></div>
                        <div class="col-md-8"><h4>S$1,000</h4></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><h3>Minimum average daily balance for automatic waiver of monthly fall-below fee</h3></div>
                        <div class="col-md-8"><h4>S$3,000</h4></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row margintop-50">
                <div class="col-md-3">
                    <b>Fees</b>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4"><h3>Fall below fee</h3></div>
                        <div class="col-md-8"><h4>S$2 (Waived for the first year)</h4></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><h3>Cheque book fee</h3></div>
                        <div class="col-md-8"><h4>S$10 (This feature is optional)</h4></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row margintop-50">
                <div class="col-md-3">
                    <b>Statement</b>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4"><h3>Monthly statements</h3></div>
                        <div class="col-md-8"><h4>e-Statement only</h4></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row margintop-50 faq">
                <div class="col-md-11">
                    <b>Terms and conditions</b>
                </div>
                <div class="col-md-1">
                    <span class="iconify" data-icon="simple-line-icons:arrow-down"></span>
                </div>
                <div class="result row">
                    <div class="col-md-6">
                        <div class="result-link"><a href="https://www.ocbc.com/iwov-resources/sg/ocbc/personal/pdf/accounts/tnc-governing-ocbc-360-account.pdf">Terms and conditions governing the 360 Account</a></div>
                        <div class="result-link"><a href="https://www.ocbc.com/personal-banking/terms-and-conditions/terms-and-conditions-governing-electronic-banking-services">Terms and conditions governing Electronic Banking Services</a></div>
                        <div class="result-link"><a href="https://www.ocbc.com/iwov-resources/sg/ocbc/personal/pdf/accounts/tcs-governing-automatic-standing-instruction.pdf">Terms and conditions governing Automatic Standing Instruction</a></div>
                    </div>
                    <div class="col-md-6">
                        <div class="result-link"><a href="https://www.ocbc.com/personal-banking/terms-and-conditions/terms-and-conditions-governing-deposit-accounts">Terms and conditions governing Deposit Accounts</a></div>
                        <div class="result-link"><a href="https://www.ocbc.com/personal-banking/terms-and-conditions/terms-and-conditions-governing-estatements">Terms and conditions governing Deposit Accounts</a></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row margintop-50 faq">
                <div class="col-md-11">
                    <b>Important notices</b>
                </div>
                <div class="col-md-1">
                    <span class="iconify" data-icon="simple-line-icons:arrow-down"></span>
                </div>
                <div class="result row">
                    <div class="col-md-6">
                        <div class="result-link"><a href="https://www.ocbc.com/personal-banking/help-and-support/general#content-useful-forms">Fees and charges</a></div>
                        <div class="result-link"><a href="https://www.ocbc.com/iwov-resources/sg/ocbc/personal/pdf/accounts/sdic-register-of-insured-deposits.pdf">Insured Deposits Register</a></div>
                        <div class="result-link"><a href="https://www.ocbc.com/personal-banking/deposits/360-savings-account#important-notice-for-investments">Important notice for Investments</a></div>
                        <div class="result-link"><a href="https://www.ocbc.com/personal-banking/deposits/360-savings-account#structured-deposits-disclaimer">Structured Deposits Disclaimer</a></div>
                    </div>
                    <div class="col-md-6">
                        <div class="result-link"><a href="https://www.ocbc.com/personal-banking/help-and-support/payments-and-transactions/giro">GIRO</a></div>
                        <div class="result-link"><a href="https://www.ocbc.com/personal-banking/deposits/360-savings-account#important-notice-for-insurance">Important notice for Insurance</a></div>
                        <div class="result-link"><a href="https://www.ocbc.com/personal-banking/deposits/360-savings-account#unit-trust-disclaimer">Unit trusts disclaimer</a></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row margintop-50 faq">
                <div class="col-md-11">
                    <b>Deposit Insurance Scheme</b>
                </div>
                <div class="col-md-1">
                    <span class="iconify" data-icon="simple-line-icons:arrow-down"></span>
                </div>
                <div class="result">
                    <p>Singapore dollar deposits of non-bank depositors and monies and deposits denominated in Singapore dollars under the Supplementary Retirement Scheme are insured by the Singapore Deposit Insurance Corporation, for up to S$75,000 in aggregate per depositor per Scheme member by law. Monies and deposits denominated in Singapore dollars under the CPF Investment Scheme and CPF Retirement Sum Scheme are aggregated and separately insured up to S$75,000 for each depositor per Scheme member. Foreign currency deposits, dual currency investments, structured deposits and other investment products are not insured.</p>
                </div>
            </div>
            <hr>
            <div class="row margintop-50 faq">
                <div class="col-md-11">
                    <b>Policy Owners' Protection Scheme</b>
                </div>
                <div class="col-md-1">
                    <span class="iconify" data-icon="simple-line-icons:arrow-down"></span>
                </div>
                <div class="result">
                    <p>This plan is protected under the Policy Owner's Protection Scheme which is administered by the Singapore Deposit Insurance Corporation (SDIC). Coverage for your policy is automatic and no further action is required from you. For more information on the types of benefits that are covered under the scheme as well as the limits of coverage, where applicable, please contact us or visit the Life Insurance Association (LIA) or SDIC websites (<a href="https://www.lia.org.sg">www.lia.org.sg</a> or <a href="https://www.sdic.org.sg">www.sdic.org.sg</a>).</p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>

<!--Check Application Status-->
<div class="applicstatus">
    <div class="container-fluid">
        <div class="hl"></div>
        <h2>Check Application Status</h2>
        <h1>Enter Application Reference Number</h1>
        <input class="textbox-default" type="text">
        <br>
        <input type="submit" class="btn enquire-btn" value="ENQUIRE APPLICATION STATUS">
    </div>
</div>

<!--Account Type Modal -->
<div class="modal fade" id="accTypeModalCenter" tabindex="-1" role="dialog" aria-labelledby="accTypeModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="footer-right">
                <input class="modal-close" type="button" data-dismiss="modal" aria-label="Close" style="background-image: url('~/image/close.png')">
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <h1>Personal Account</h1>
                    </div>
                    <div class="col-md-6">
                        <h2>If you have a current or savings account with us, you can apply instantly via MyInfo or Internet Banking with only a few clicks.</h2>
                    </div>
                    <div class="col-md-3">
                        <a><input type="submit" class="btn applynow-btn" value="Apply Now" id="ButtonDisable_Click"></a>
                    </div>
                    <hr>
                    <div class="col-md-3">
                        <h1>Joint Account</h1>
                    </div>
                    <div class="col-md-6">
                        <h2>If you have a current or savings account with us, you can apply instantly via MyInfo or Internet Banking with only a few clicks.</h2>
                    </div>
                    <div class="col-md-3">
                        <a href="~/Account360/ApplyOnline"><input type="submit" class="btn applynow-btn" value="Apply Now"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>